* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "segoue", sans-serif;
  color: #666;
  background: #e1e1e1 url(../img/creampaper.png);
  font-size: 14px;
}

a {
  color: #333;
  text-decoration: none;
}

#container {
  width: 740px;
  background: #ddd;
  margin: auto;
}

.clearfix {
  clear: both;
}

header {
  padding: 30px 20px;
  background: #e1e1e1;
}

header h1 {
  color: #000;
  margin-bottom: 5px;
}

header span {
  color: #dd2826;
}

section {
  padding: 30px 20px 20px 20px;
  background: #fff;
}

footer {
  padding: 20px;
  background: #e1e1e1;
  text-align: center;
}

#search-form {
  display: block;
  margin-bottom: 15px; 
}

.fieldcontainer {
  display: block;
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.search-field {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  width: 45%;
  padding: 11px 7px;
  padding-right: 43px;
  background: #fff;
  color: #ccc;
  border: 1px solid #c8c8c8;
  font-size: 1em;
  border-bottom-color: #d2e2e7;
  border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  box-shadow: inset 0 2px 5px rgba(0,0,0,0.1), 0 0 0 6px #f2f2f2;
  -moz-box-shadow: inset 0 2px 5px rgba(0,0,0,0.1), 0 0 0 6px #f2f2f2;
  -webkit-box-shadow: inset 0 2px 5px rgba(0,0,0,0.1), 0 0 0 3px #f2f2f2;
}

#search-btn {
  position: absolute;
  right: 350px;
  top: 5px;
  height: 32px;
  width: 32px;
  border: 0;
  cursor: pointer;
  zoom: 1;
  filter: alpha(opacity=65); /*same, older browsers*/
  opacity: 0.65;
  background: transparent url(../img/search.png) top left no-repeat;
}

#search-btn:hover {
  filter: alpha(opacity=90); /*same, older browsers*/
  opacity: 0.9;
}

#results li {
  padding: 10px 0;
  border-bottom: 1px #ccc dotted;
  list-style: none;
  overflow: auto;
}

.list-left {
  float: left;
  width: 20%;
}

.list-left img {
  width: 100%;
  padding: 3px;
  border: solid #ccc 1px;
}

.list-right {
  float: right;
  width: 76%;
}

.cTitle {
  color: #dd2826;
}